<nav>
  <div class="nav-wrapper light-blue">
    <a class="brand-logo">
      <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/007.png" style="width: 75px" alt="">
    </a>
    <ul  class="right">
      <!-- Si connecté afficher le profil et la page d'acceuil (liste des articles)-->

      <div *ngIf="!isConnected">
        <li >
          <a  *ngIf="isSignUp" (click)="changeRoute()">Connexion</a>
        </li>
        <li>
          <a *ngIf="!isSignUp" (click)="changeRoute()" >Inscription</a>
        </li>
      </div>

      <div *ngIf="isConnected">
        <li>
          <a (click)="logout()" >Déconnexion</a>
        </li>
      </div>

    </ul>
  </div>
</nav>
