.display-comment {
    cursor: pointer;
    margin: 15px;
}

.content-comment{
    padding: 10px;
    box-shadow: 1px 1px 5px #333;
}

.content-comment p{
    padding: 10px;
    box-shadow: 1px 1px 2px #333;
}


.user-comment {
    margin: 10px 0;
    padding: 10px 0;
}
