.blog-list {
    /* Styles pour la liste des blogs */
    width: 100%;
    padding: 30px;
    margin-top: 100px ;
  }

  .marge {
    margin-top: 50px;
    position: relative;
    left: calc(100% - 176px);
  }

.parent-size-img {
  width: 100%;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 1px 0 5px #999;
}

  img.size-img {
    width: 250px;
    height: auto;
    margin: 0 auto;
    
  }

  .delete-btn {
    cursor: pointer;
    margin: 0 0 0 10px ;
  }

  .espace {
    padding: 20px 0 30px 10px;
  }

  .img-add {
    width: 50%; 
    display: block; 
    margin: 0 auto;
  }